<!-- your html code here -->


<div class="row">
    <div class="col mt-5 mb-0">
        <h1>Contact</h1>
        <p class="fs-4 fw-light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident ratione optio
            totam ipsam cupiditate
            autem sint, incidunt tempore tenetur rem quisquam rerum architecto, quibusdam nostrum delectus
            voluptatum molestiae laudantium. Aperiam.</p>
    </div>
</div>


<div class="row mb-2 mt-0">

    <div class="col-md-12 ">
        <div class="mx-auto m-5 ps-5 pe-2 pb-4 pt-2 w-50 bg-light border border-1">
            <div class="row mb-3">
                <label for="colFormLabel" class="col-md-3 col-form-label text-end fw-semibold" style="font-family:'Times New Roman', Times, serif">Your email</label>
                <div class="col-md-9">
                    <input type="email" class="form-control" id="colFormLabel" placeholder="Your email" style="font-family:'Times New Roman', Times, serif">
                </div>
            </div>

            <div class="row">
                <label for="colFormLabel" class="col-md-3 col-form-label text-end fw-semibold" style="font-family:'Times New Roman', Times, serif">Your message</label>
                <div class="col-md-9">
                    <textarea class="form-control" aria-label=""
                        placeholder="Please enter a message here... " style="font-family:'Times New Roman', Times, serif" ></textarea>
                </div>

                <div class="d-grid d-md-flex justify-content-md-end mb-2 mt-3">
                    <input class="btn btn-primary me-md-1" type="submit" value="Submit">
                </div>

            </div>
        </div>

    </div>

</div>